/*
========================================================
Nextflow configuration file
RNA-seq Differential Expression Pipeline
========================================================
*/

/*
--------------------------------------------------------
Default parameters
--------------------------------------------------------
*/

params {

    outdir = "results"

}


/*
--------------------------------------------------------
Process configuration
--------------------------------------------------------
*/

process {

    withLabel: small {
        cpus = 2
        memory = '4 GB'
        time = '1h'
    }

    withLabel: medium {
        cpus = 8
        memory = '32 GB'
        time = '4h'
    }

}


/*
--------------------------------------------------------
Profiles
Allow execution in different environments
--------------------------------------------------------
*/

profiles {

    local {

        process.executor = 'local'

        process {
            cpus = 4
            memory = '8 GB'
            time = '2h'
        }

    }


    slurm {

        process.executor = 'slurm'
        process.queue = 'short'

        process {
            cpus = 8
            memory = '32 GB'
            time = '4h'
        }

    }

}


/*
--------------------------------------------------------
Execution reports
--------------------------------------------------------
*/

report {
    enabled = true
    file = "results/reports/report.html"
}

timeline {
    enabled = true
    file = "results/reports/timeline.html"
}

trace {
    enabled = true
    file = "results/reports/trace.txt"
}

dag {
    enabled = true
    file = "results/reports/pipeline_dag.html"
}